:root {
    --main-color: #2F303A;
    --accent-color: #2196F3;
    --paragraph-color: #757575;
    --team-background-color: #F5F4FA;
    --team-h4-color: #212121;
    --main-font: 'Raleway', serif;
    --secondary-font: "Roboto Flex",sans-serif;
}